<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FaleMais</title>
    <meta name="description" content="produto falemais da telefonia Telzir">
    <meta name="keywords" content="telefonia, falemais, ligacoes, nacionais, telzir">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <section id="banner" class="banner">
      <div class="bg-color">
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="col-md-12">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
              </div>
              <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li class=""><a href="#planos">Planos</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="banner-info">
              <div class="banner-text text-center">
                <h1 class="white">Fale de graça e só pague o excedente!!</h1>
                <p class="white"> Adquira um plano, fale de graça até um determinado tempo e só paga os minutos excedentes. Os minutos excedentes tem um acréscimo de 10% sobre a tarifa normal do minuto.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section id="planos" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="planos">
              <h3>Plano FaleMais 30 minutos</h3>
              <p>Esse plano disponibiliza 30 minutos para ligações nacionais. </p>
              <a href="#" class="medi-info-btn">Leia Mais</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="planos">
              <h3>Plano FaleMais 60 minutos</h3>
              <p>Esse plano disponibiliza 60 minutos para ligações nacionais. </p>
              <a href="#" class="medi-info-btn">Leia Mais</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="planos">
              <h3>Plano FaleMais 120 minutos</h3>
              <p>Esse plano disponibiliza 120 minutos para ligações nacionais. </p>
              <a href="#" class="medi-info-btn">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="section-title">
              <h2 class="formula head-title lg-line">Calcule como ficará o valor de sua ligação</h2>
              <br>
              <form class="calculo" action="/simulacao">
                <br>
                <select class="styled-input" name="origem" placeholder="DDD origem">
                  <option value="11">11</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                </select>
                <select class="styled-input" name="destino" placeholder="DDD destino">
                  <option value="11">11</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                </select>
                <input class="styled-input" type="number" name="tempo" placeholder="Tempo Estimado">
                <select class="styled-input" name="plano" placeholder="Plano a ser utilizado">
                  <option value="30">Plano FaleMais30</option>
                  <option value="60">Plano FaleMais60</option>
                  <option value="120">Plano FaleMais120</option>
                </select>
                <input class="submit" type="submit" value="Simular">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
      <div class="row">
      <div class="col-md-12 col-sm-12 resultados">
      if origem
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Tempo</th>
              <th scope="col">Plano</th>
              <th class ="complano" scope="col">Com FaleMais</th>
              <th  class="semplano1" scope="col">Sem FaleMais</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#{origem}</td>
              <td>#{destino}</td>
              <td>#{tempo}</td>
              <td>#{plano}</td>
              <td class="complano"> R$ #{valorPlano}</td>
              <td class ="semplano"> R$ #{valorSemPlano}</td>
            </tr>
            <tr>
          </tbody>
        </table>
      else
        <div class="alert alert-danger" role="alert">
          <p>Infelizmente ainda não temos planos com esse DDD de origem para o DDD de destino. Nao fique triste, em breve, teremos mais opções para suas ligações!</p>
        </div>
    </section>
    <footer id="footer">
      <div class="top-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-4 marb20">
              <div class="ftr-tle">
                <h4 class="links">Sobre nos</h4>
              </div>
              <div class="info-sec">
                <p> A FaleMais é o mais novo produto da empresa Telzir, especializada em chamadas de longa distância nacional.</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-4 marb20">
              <div class="ftr-tle">
                <h4 class="links">Quick Links</h4>
              </div>
              <div class="info-sec">
                <ul class="quick-info">
                  <li><a href="/">Home</a></li>
                  <li><a href="#planos">Planos</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>